/* ---------- Variables --------- */

:root {
    --bgcolor: white;
    --primary-color: rgb(26, 24, 24);
    --accent-color: #c7a17a;
    --main-font-color: white;
}


/* --------- General ---------- */

* {
    margin: 0; 
    font-family: poppins;
}

body {
    background-color: var(--bgcolor);
}

header {
    background-color: var(--primary-color);
    display: flex;
}

ul {
   list-style-type: none;
   display: flex;
   align-items: center;
   padding: 0;
}

#logo, header li {
    margin: 2%;
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

main {
    margin: 3em;
}


/* ---------- CONTACTO ---------- */

.main-contacto{
    display: flex;
    justify-content: space-between;
}

.seccion-contacto:first-child{
    border-right: 1px solid rgba(187, 187, 187, 0.622);
}

.seccion-contacto {
    width: 48%;
}

.seccion-contacto > h2 {
    padding-bottom: 3%;
}

#formulario-contacto {
    margin: 5% 0;
}

#formulario-contacto > label {
    display: block;
}

.formulario input, textarea {
    width: 95%;
    box-sizing: border-box;
    margin-bottom: 3%;
    height: 3em;
    border: 2px solid rgba(187, 187, 187, 0.622);
    background-color: var(--bgcolor);
    padding: 1em;
}

.formulario textarea {
    height: 10em;
}

form > button {
    padding: 1em;
    border: none;
    color: white;
    background-color: var(--accent-color);
    font-weight: bold;
}

#redes-contacto > i {
    display: block;
    margin: 5% 0;
    font-size: 2.5em;
}

/* ---------- Trabaja en TDI ---------- */

#main-trabaja {
    margin: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-trabaja h3{
    color: var(--accent-color);
    font-weight: normal;
}

#main-trabaja h2 {
    margin: 2%;
    font-size: 2em;
}

#main-trabaja hr {
    border: 1px solid var(--accent-color);
    width: 120px;
}

#main-trabaja p {
    margin: 2%;
    font-size: 0.9em;
}

#formulario-trabaja {
    display: flex;
    flex-wrap: wrap;
}

#formulario-trabaja > label {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

#formulario-trabaja label:nth-child(odd) {
    margin-right: 2%;
}

#formulario-trabaja input {
    width: 100%;
    height: 3em;
}

#formulario-trabaja label:last-child {
    display: block;
    width: 100%;
    margin-right: 0;
}

#formulario-trabaja textarea {
    width: 100%;
}

#cv-trabaja {
    padding-top: 0.65em;
}


/* ---------- TIENDA ---------- */

#main-tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main-tienda img {
    width: 25vw;
    
    transition: transform 0.5s;

    position: relative;
    z-index: 0;
}

#main-tienda img:hover {
    transform: scale(1.2);
}

#main-tienda figure {
    margin-bottom: 2em;

    overflow: hidden;
    z-index: 2;
}

#main-tienda figcaption {
    background-color: var(--bgcolor);
    padding: 0.5em 0;

    text-align: center;
    font-weight: bold;
    font-size: 0.9em;

    position: relative;
    z-index: 2;
}


/* ---------- Media Queries ---------- */

/* Table Horizontal */
@media (max-width: 1080px) {

}


/* Tablet Vertical */
@media (max-width: 768px) {

    /* --- Contacto --- */
    .main-contacto {
        flex-direction: column;
    }

    .seccion-contacto {
        width: 100%;
    }

    .seccion-contacto:first-child{
        border: none;
        margin-bottom: 2em;
    }

    .main-contacto input, textarea {
        width: 100%;
    }
}


/* Mobile 1 */
@media (max-width: 480px) {

}

/* Mobile 2 */
@media (max-width: 375px) {

}